{erl_opts, [debug_info]}.
{eunit_opts, [verbose]}.
{deps, [
    {ibrowse, ".*", {git, "git@github.com:Phonebooth/ibrowse.git", {branch, "master"}}},
    {ssl_verify_fun, ".*", {git, "https://github.com/deadtrickster/ssl_verify_fun.erl.git", {branch, "master"}}},
    {cache, {git, "https://github.com/fogfish/cache.git", {branch, "master"}}}
]}.
